In [6]:
#selenium, controla seu navegador
#send_keys = escrever
#find_element = pega o elemento 
# navegador = webdriver.Chrome() = setando o navegador
# aspas simples sempre no xpath
# get.atribuyte = pega
# replace = alterar 
#tabela.loc = localizar


from selenium import webdriver # para conseguir manipular o navegador
from selenium.webdriver.common.keys import Keys # para conseguir usar teclas 

navegador = webdriver.Chrome()

# PASSO 1 : PEGAR A COTAÇÃO DO DÓLAR
# Entrar no google 
navegador.get("https://www.google.com/")

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação dólar")
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')   
print("Dólar Hoje: " +cotacao_dolar)

# PASSO 2 : PEGAR A COTAÇÃO DO EURO
navegador.get("https://www.google.com/")

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação Euro")
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')   
print("Euro hoje: " +cotacao_euro)

# PASSO 3 : PEGAR A COTAÇÃO DO OURO
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro =  navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")
print("Ouro hoje: " + cotacao_ouro)

navegador.quit()

# PASSO 4 : Importar a base de dados e Atualizar a base 
import pandas as pd 

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

# PASSO 5 : Recalcular preços 
 
# - Atualizar a cotação    
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

# - Preço de compra = cotação * preco original
tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]
    
# - preco de venda = preco de compra * margem 
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]
display(tabela)

# PASSO 6 : Exportar a base atualizada 
tabela.to_excel("Produtos Novo.xlsx", index=False)

Dólar Hoje: 5.160299999999999
Euro hoje: 5.555320965
Ouro hoje: 311.97

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.160300,5160.248397,1.40,7224.347756
1,Carro Renault,4500.00,Euro,5.555321,24998.944342,2.00,49997.888685
2,Notebook Dell,899.99,Dólar,5.160300,4644.218397,1.70,7895.171275
3,IPhone,799.00,Dólar,5.160300,4123.079700,1.70,7009.235490
4,Carro Fiat,3000.00,Euro,5.555321,16665.962895,1.90,31665.329500
5,Celular Xiaomi,480.48,Dólar,5.160300,2479.420944,2.00,4958.841888
6,Joia 20g,20.00,Ouro,311.970000,6239.400000,1.15,7175.310000